@{
    ViewData["Title"] = "Home Page";
}
<div class="series-block">
    <img class="series-block-img" onclick="window.location='GetSeries/Details/seinfeld'" src="images/seinfeld.png">
</div>
<div class="series-block">
    <img class="series-block-img" onclick="window.location='GetSeries/Details/vampire'" src="images/vampire.png">
</div>
<div class="series-block">
    <img class="series-block-img" onclick="window.location='./series.html'" src="images/sbob.jpeg">
</div>
<div class="series-block">
    <img class="series-block-img" onclick="window.location='./series.html'" src="images/100.jpeg">
</div>
