* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: blue;
}

/* Style the header */
.header {
    background-color: #d86363;
    height: 150px;
    padding: 30px;
    font-size: 90px;
    font-family: "Copperplate";
    font-weight: bold;
    /* background-color: #d86363;
    height: 100px;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white; */
}

/* Container for flexboxes */
.section {
    display: flex;
}

/* Style the navigation menu */
.nav {
    flex: 1;
    background: #ccc;
    padding: 20px;
    height: 400px;
}

/* Style the list inside the menu */
.nav ul {
    list-style-type: none;
    padding: 0;
}

/* Style the content */
.content {
    display: flex;
    justify-content: space-around;
    flex: 5;
    background-color: #f1f1f1;
    padding: 20px;
}

.series-block {
    height: 100px;
    width: 200px;
    background-color: rgb(245, 220, 245);
}

.series-block img {
    width: 100%;  
    height: auto;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
    section {
        flex-direction: column;
    }
}
